@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
}
